* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  columns: #8E8E8E;
}

.game-status {
  background-color: #10A95B;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9F4DA;
  border-radius: 4px;
  margin-block: 30px;
}

.game-status > h2 {
  font-size: 1.25rem;
}

.game-status > h2,
.game-status > p {
  margin: 5px;
}

.chip-holder {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2em;
  margin: 0 auto;
}

span.chip {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

span.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2.5px;
}

.word-holder {
  display: flex;
  justify-content: center;
  padding: 2em;
  gap: 2px;
}

.word-holder > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #323232;
  color: #F9F4DA;
  text-transform: uppercase;
  border-bottom: 1px solid #F9F4DA;
}

.alphabet-holder {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.alphabet-holder > button {
  border: 1px solid #D7D7D7;
  background-color: #FCBA29;
  color: #1E1E1E;
  border-radius: 4px;
  padding: 6px;
  height: 40px;
  width: 40px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.key.correct {
  background-color: #10A95B;
  cursor: not-allowed;
  pointer-events: none;
}

.key.wrong {
  background-color: #EC5D49;
  cursor: not-allowed;
  pointer-events: none;
}